{% extends 'MLFrontBundle:layout:layout.html.twig' %}

{% block title %}{{ parent() }} - Paiement{% endblock %}

{% block body %}

<h3>Payement</h3>

<p>Pour proceder au payement, merci de bien vouloir cliquer sur le bouton ci dessous.</p>

<div id="status">
                <p>
                    <!--<svg id="icon-status" width="64" height="64" viewBox="0 0 1792 1792" xmlns="<a href="<a href="URL_3WORG/2000/svg"><a href="<a href="URL_3WORG/2000/svg">URL_3WORG/2000/svg</a>"><a href="URL_3WORG/2000/svg">URL_3WORG.org/2000/svg</a></a></a>">
                    <a href="URL_3WORG/2000/svg"><a href="URL_3WORG/2000/svg">
                    <a href="URL_3WORG/2000/svg">URL_3WORG/2000/svg</a></a></a></a>">-->
                    <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#759E1A"></path></svg>


                    <form action="{{ path('ml_front_pay') }}" method="POST">
                        <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="pk_test_jws5qzn6R70wqVp0IScnots2"
                                data-name="Musée du Louvre"
                                data-description="Widget"
                                data-locale="auto"
                                data-currency="eur">
                        </script>
                    </form>
                </p>
            </div>



{% endblock %}
